<form class="player-form" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Player username</mat-label>
      <input matInput placeholder="Ex. GL.TheViper" [formControl]="playerName" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="setPlayerName($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 10" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Map</mat-label>
      <mat-select [(ngModel)]="map" name="map" (selectionChange)="setMap($event.value)">
        <mat-option *ngFor="let map of maps" [value]="map">
          {{map}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-progress-spinner [diameter]="45" *ngIf="!loaded" [color]="color" [mode]="mode">
    </mat-progress-spinner>


  </div>

</form>
<mat-card class="player-profile-card">
  <mat-card-header>
    <mat-card-title>{{playerProfile.name}}</mat-card-title>
    <mat-card-subtitle>{{playerProfile.steamId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Rank:&nbsp;<b>{{playerProfile.rank}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Rating:&nbsp;<b>{{playerProfile.rating}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Country:&nbsp;<b>{{playerProfile.country}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Games:&nbsp;<b>{{playerProfile.games}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Wins:&nbsp;<b>{{playerProfile.wins}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Losses:&nbsp;<b>{{playerProfile.losses}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
  </mat-card-content>

</mat-card>
<div style="display: block;">
  <canvas baseChart [datasets]="scatterChartData" [labels]="chartLabels" [options]="scatterChartOptions"
    [chartType]="scatterChartType">
  </canvas>
</div>